.content .active  {
    margin-bottom: 30px;
    padding: 15px 20px;
    background: #212121;
    border-radius: 20px;
}

.content .active:last-child {
    margin-bottom: 0px;
}

.game-info_wrap.active:after {
    display: none;
}